In [1]:
import pandas as pd
data = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017', 
             '1/4/2017', '1/5/2017', '1/6/2017'],
    'temp' : [32,35,28, 24,32,31],
    'wind' : [6,7,2,7,4,2],
    'event' : ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)
df

        day  event  temp  wind
0  1/1/2017   Rain    32     6
1  1/2/2017  Sunny    35     7
2  1/3/2017   Snow    28     2
3  1/4/2017   Snow    24     7
4  1/5/2017   Rain    32     4
5  1/6/2017  Sunny    31     2

In [2]:
df.describe()

            temp      wind
count   6.000000  6.000000
mean   30.333333  4.666667
std     3.829708  2.338090
min    24.000000  2.000000
25%    28.750000  2.500000
50%    31.500000  5.000000
75%    32.000000  6.750000
max    35.000000  7.000000

In [3]:
df[df.temp == df.temp.max()]

        day  event  temp  wind
1  1/2/2017  Sunny    35     7

In [4]:
df[['day', 'temp']][df.temp == df.temp.max()]

        day  temp
1  1/2/2017    35

In [5]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [6]:
df.set_index('day')

          event  temp  wind
day
1/1/2017   Rain    32     6
1/2/2017  Sunny    35     7
1/3/2017   Snow    28     2
1/4/2017   Snow    24     7
1/5/2017   Rain    32     4
1/6/2017  Sunny    31     2

In [7]:
df.set_index('day')

          event  temp  wind
day
1/1/2017   Rain    32     6
1/2/2017  Sunny    35     7
1/3/2017   Snow    28     2
1/4/2017   Snow    24     7
1/5/2017   Rain    32     4
1/6/2017  Sunny    31     2

In [18]:
df.set_index('day').loc['1/1/2017']

event    Rain
index       0
temp       32
wind        6
Name: 1/1/2017, dtype: object

In [20]:
df.set_index('event').loc['Snow']

       index       day  temp  wind
event
Snow       2  1/3/2017    28     2
Snow       3  1/4/2017    24     7